components:
    schemas:
        OpenEnterpriseMember:
            properties:
                role:
                    description: "成员在企业中的角色，枚举值： \n  \n * enterprise_admin：企业管理员。 \n * enterprise_member：企业普通成员。"
                    type: string
                user_id:
                    description: "需要添加至企业的扣子用户 UID。 \n 你可以调用火山引擎的 ListCozeUser-成员列表 API，查看 CozeUserId 的值即为扣子用户 UID。"
                    type: string
            required:
                - role
                - user_id
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 添加企业成员
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/enterprises/{enterprise_id}/members:
        post:
            description: |-
                添加员工到企业。
                在火山引擎创建用户后，默认会自动将用户添加至企业，若未成功添加，你可以调用本 API 将用户添加至企业。火山引擎创建用户的具体方法请参见成员管理。
            operationId: post_add_enterprise_member
            parameters:
                - description: "企业 ID，用于标识用户所属的企业。 \n 你可以在组织管理 > 组织设置页面查看企业 ID。 \n !Image"
                  in: path
                  name: enterprise_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                users:
                                    description: 待邀请加入企业的用户列表，单次最多添加 1个成员。每个成员包含用户 ID 和角色信息。
                                    items:
                                        $ref: '#/components/schemas/OpenEnterpriseMember'
                                    type: array
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 添加企业成员
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/add_enterprise_member
servers:
    - url: https://api.coze.cn
