components:
    schemas:
        CollaboratorAddData:
            properties:
                user_id:
                    description: "协作者的扣子用户 UID。你只能添加对应工作空间中的成员作为协作者。 \n 在扣子编程平台左下角单击头像，选择账号设置，查看账号的 UID。"
                    type: string
            required:
                - user_id
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 添加智能体的协作者
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/bots/{bot_id}/collaborators:
        post:
            description: 添加智能体的协作者。
            operationId: post_add_bot_collaborator
            parameters:
                - description: "需要添加协作者的智能体 ID。 \n 进入智能体编排页面，页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.cn/space/341/bot/73428668*，bot ID 为73428668*。"
                  in: path
                  name: bot_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                collaborators:
                                    description: 智能体资源协作者列表。单次最多添加 1个协作者。
                                    items:
                                        $ref: '#/components/schemas/CollaboratorAddData'
                                    type: array
                            required:
                                - collaborators
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 添加智能体的协作者
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/add_bot_collaborator
servers:
    - url: https://api.coze.cn
