components:
    schemas:
        CreateVoicePrintGroupData:
            properties:
                id:
                    description: 声纹组 ID。
                    type: string
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 创建声纹组
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/audio/voiceprint_groups:
        post:
            description: 创建声纹组。
            operationId: post_create_voiceprint_group
            parameters:
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                desc:
                                    description: 声纹组的描述信息，用于详细说明该声纹组的用途或特点，长度不超过 500个字符。
                                    type: string
                                name:
                                    description: 声纹组的名称，用于标识和管理不同的声纹组，长度不超过 20个字符。
                                    type: string
                            required:
                                - name
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/CreateVoicePrintGroupData'
                                        description: 声纹组的信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 响应详情信息。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 创建声纹组
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/create_voiceprint_group
servers:
    - url: https://api.coze.cn
