components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 删除知识库文件
    version: 1.0.0
openapi: 3.0.3
paths:
    /open_api/knowledge/document/delete:
        post:
            description: |-
                调用此接口删除扣子知识库中的文本、图片、表格等文件，支持批量删除。
                * 仅知识库的所有者可以删除知识库文件。
                * 知识库分为扣子知识库和火山知识库，该 API 仅用于删除扣子知识库中的文件，不支持删除火山知识库中的文件，如果需要删除火山知识库中的文件，请参见删除火山知识库文件。
            operationId: post_delete_knowdge_files
            parameters:
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
                - description: 防止丢失数字类型参数的精度。
                  in: header
                  name: Agw-Js-Conv
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                document_ids:
                                    description: 待删除的知识库文件列表。数组最大长度为 100，即一次性最多可删除 100 个文件。
                                    items:
                                        type: string
                                    type: array
                            required:
                                - document_ids
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: "状态码。 \n 0 代表调用成功。"
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息，主要用于调试和问题排查。如果遇到异常报错场景，且反复重试仍然报错，可以根据此字段中的 logid联系扣子团队获取帮助。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 删除知识库文件
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/delete_knowdge_files
servers:
    - url: https://api.coze.cn
