components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 删除知识库
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/datasets/{dataset_id}:
        delete:
            description: |-
                调用此接口删除扣子知识库。
                * 空间管理员可以删除团队中所有知识库，其他成员只能删除本人为所有者的知识库，
                * 删除知识库时，会同时删除知识库中已上传的所有文件，且绑定此知识库的智能体会自动解绑。
                * 此 API 仅支持删除扣子知识库，不适用于火山知识库。如需删除火山知识库，请参考删除火山知识库。
            operationId: delete_delete_dataset
            parameters:
                - description: "扣子知识库 ID。 \n 在扣子编程中打开指定知识库页面，页面 URL 中 knowledge 参数后的数字就是知识库 ID。例如 https://www.coze.cn/space/736142423532160/knowledge/738509371792341，知识库 ID 为 738509371792341。"
                  in: path
                  name: dataset_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: "状态码。 \n 0 代表调用成功。"
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 删除知识库
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/delete_dataset
servers:
    - url: https://api.coze.cn
