components:
    schemas:
        OpenAPIUserInfo:
            properties:
                id:
                    description: 工作流创建者的扣子用户 UID。
                    type: string
                name:
                    description: 工作流创建者的扣子用户名。
                    type: string
            type: object
        OpenAPIWorkflowBasic:
            properties:
                app_id:
                    description: 工作流关联的应用 ID。若工作流未关联任何应用，则该字段值为 0。
                    type: string
                created_at:
                    description: 工作流的创建时间，以 Unix 时间戳表示，单位为秒。
                    type: string
                creator:
                    $ref: '#/components/schemas/OpenAPIUserInfo'
                    description: 工作流创建者的信息，包含创建者的用户 ID 和用户名。
                description:
                    description: 工作流的描述。
                    type: string
                icon_url:
                    description: 工作流图标的 URL 地址。
                    type: string
                updated_at:
                    description: 工作流的最后更新时间，以 Unix 时间戳表示，单位为秒。
                    type: string
                workflow_id:
                    description: 工作流 ID。
                    type: string
                workflow_name:
                    description: 工作流名称。
                    type: string
            type: object
        OpenAPIWorkflowList:
            properties:
                has_more:
                    description: "标识当前返回的工作流列表是否还有更多数据未返回。 \n  \n * true ：还有更多未返回的回调应用。 \n * false：已返回所有数据。"
                    type: boolean
                items:
                    description: 工作流的基础信息。
                    items:
                        $ref: '#/components/schemas/OpenAPIWorkflowBasic'
                    type: array
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 查询工作流列表
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/workflows:
        get:
            description: |-
                查询指定工作空间中的工作流列表及其基本信息。
                你可以查询某个工作空间中的所有工作流或对话流、某个应用关联的工作流或对话流。
            operationId: get_get_workflow_list
            parameters:
                - description: "工作空间 ID，用于指定要查询的工作空间。 \n 进入指定空间，空间页面 URL 中 w 参数后的数字就是 工作空间 ID。例如https://code.coze.cn/w/75814654762959*/projects，工作空间 ID 为 75814654762959*。"
                  in: query
                  name: workspace_id
                  required: true
                  schema:
                    type: string
                - description: 查询结果分页展示时，此参数用于设置查看的页码。最小值为 1。
                  in: query
                  name: page_num
                  required: true
                  schema:
                    type: integer
                - description: 查询结果分页展示时，此参数用于设置每页返回的数据量。取值范围为 1 ~ 30，默认为 10。
                  in: query
                  name: page_size
                  required: false
                  schema:
                    type: integer
                - description: "工作流类型，默认为空，即查询所有工作流类型。枚举值： \n  \n * workflow：工作流。 \n * chatflow：对话流。"
                  in: query
                  name: workflow_mode
                  required: false
                  schema:
                    type: string
                - description: "扣子应用 ID，用于查询指定应用关联的工作流。默认为空，即不指定应用。 \n 进入应用开发界面，开发页面 URL 中的 project-ide 参数后的数字就是 AppID，例如https://www.coze.cn/space/74421656*/project-ide/744208683 ，扣子应用 ID 为744208683。"
                  in: query
                  name: app_id
                  required: false
                  schema:
                    type: string
                - description: "工作流的发布状态，用于筛选不同发布状态的版本。枚举值： \n  \n * all ：所有状态。 \n * published_online ：（默认值）已发布的正式版。 \n * unpublished_draft ：草稿状态。"
                  in: query
                  name: publish_status
                  required: false
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/OpenAPIWorkflowList'
                                        description: 工作流列表及其详细信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查询工作流列表
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/get_workflow_list
servers:
    - url: https://api.coze.cn
