components:
    schemas:
        DocumentProgress:
            properties:
                document_id:
                    description: 文件的 ID。
                    type: string
                document_name:
                    description: 文件名称。
                    type: string
                progress:
                    description: 文件上传的进度。单位为百分比。
                    type: integer
                remaining_time:
                    description: 预期剩余时间，单位为秒。
                    format: int64
                    type: integer
                size:
                    description: 文件的大小，单位为字节。
                    format: int64
                    type: integer
                status:
                    description: "文件的处理状态。取值包括： \n  \n * 0：处理中 \n * 1：处理完毕 \n * 9：处理失败，建议重新上传"
                    type: integer
                status_descript:
                    description: "失败状态的详细描述，例如切片失败时返回失败信息。 \n 仅文档处理失败时会返回此参数。"
                    type: string
                type:
                    description: 本地文件格式，即文件后缀，例如 txt。格式支持 pdf、txt、doc、docx 类型。
                    type: string
                update_interval:
                    description: 在线网页自动更新的频率。单位为小时。
                    type: integer
                update_type:
                    description: "在线网页是否自动更新。取值包括： \n  \n * 0：不自动更新 \n * 1：自动更新"
                    type: integer
                url:
                    description: 文件地址。
                    type: string
            type: object
        GetDocumentProgressOpenApiData:
            properties:
                data:
                    description: 文件的上传进度详情。
                    items:
                        $ref: '#/components/schemas/DocumentProgress'
                    type: array
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 查看知识库文件上传进度
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/datasets/{dataset_id}/process:
        post:
            description: 调用此接口获取扣子知识库文件的上传进度。
            operationId: post_get_dataset_progress
            parameters:
                - description: "扣子知识库 ID。不能填写火山知识库 ID。 \n 在扣子编程中打开指定扣子知识库页面，页面 URL 中 knowledge 参数后的数字就是扣子知识库 ID。例如 https://www.coze.cn/space/736142423532160/knowledge/738509371792341，扣子知识库 ID 为 738509371792341。"
                  in: path
                  name: dataset_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                document_ids:
                                    description: 需要获取上传进度的文件 ID 列表。
                                    items:
                                        type: string
                                    type: array
                            required:
                                - document_ids
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/GetDocumentProgressOpenApiData'
                                        description: 接口返回的业务信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查看知识库文件上传进度
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/get_dataset_progress
servers:
    - url: https://api.coze.cn
