components:
    schemas:
        OpenAPIUserInfo:
            properties:
                id:
                    description: 工作流创建者的扣子用户 UID。
                    type: string
                name:
                    description: 工作流创建者的扣子用户名。
                    type: string
            type: object
        OpenAPIWorkflowBasic:
            properties:
                app_id:
                    description: 工作流关联的应用 ID。若工作流未关联任何应用，则该字段值为 0。
                    type: string
                created_at:
                    description: 工作流的创建时间，以 Unix 时间戳表示，单位为秒。
                    type: string
                creator:
                    $ref: '#/components/schemas/OpenAPIUserInfo'
                    description: 工作流创建者的信息，包含创建者的用户 ID 和用户名。
                description:
                    description: 工作流的描述。
                    type: string
                icon_url:
                    description: 工作流图标的 URL 地址。
                    type: string
                updated_at:
                    description: 工作流的最后更新时间，以 Unix 时间戳表示，单位为秒。
                    type: string
                workflow_id:
                    description: 工作流 ID。
                    type: string
                workflow_name:
                    description: 工作流名称。
                    type: string
            type: object
        OpenAPIWorkflowInput:
            properties:
                parameters:
                    additionalProperties: true
                    description: 开始节点的输入参数结构体。
                    type: object
            type: object
        OpenAPIWorkflowOutput:
            properties:
                content:
                    description: 工作流结束节点返回文本时，智能体回复内容的结构。仅当 terminate_plan 为 use_answer_content 时会返回。
                    type: string
                parameters:
                    additionalProperties: true
                    description: '工作流结束节点输出变量的数组。以键值对形式存储，格式为 { "变量名称": { "type": "变量类型" } }。'
                    type: object
                terminate_plan:
                    description: "结束节点的返回类型，枚举值： \n  \n * return_variables：返回变量。 \n * use_answer_content：返回文本。"
                    type: string
            type: object
        Parameters:
            properties:
                default_value:
                    description: 该参数配置的默认值。
                    type: string
                description:
                    description: 该参数的描述信息。
                    type: string
                items:
                    $ref: '#/components/schemas/OpenAPIParameter'
                    description: 当参数类型为 array 时，该字段用于定义数组元素的子类型。
                properties:
                    additionalProperties: true
                    description: 当参数类型为 object时，该字段用于定义对象类型的子参数信息，采用键值对（key-value）结构，其中 key 为子参数的名称，value 为该子参数的定义信息（包含类型、是否必填等属性）。
                    type: object
                required:
                    description: "标识输入参数是否为必填项。 \n  \n * true：该参数为必填项。 \n * false：该参数为可选项。"
                    type: boolean
                type:
                    description: 该参数的类型。
                    type: string
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
        WorkflowInfo:
            properties:
                input:
                    $ref: '#/components/schemas/OpenAPIWorkflowInput'
                    description: 工作流开始节点的输入参数的结构体。
                output:
                    $ref: '#/components/schemas/OpenAPIWorkflowOutput'
                    description: 工作流结束节点的输出参数的结构体。
                workflow_detail:
                    $ref: '#/components/schemas/OpenAPIWorkflowBasic'
                    description: 工作流的详细信息。
            type: object
info:
    title: 查询工作流基本信息
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/workflows/{workflow_id}:
        get:
            description: 查询工作流的基本信息，包括工作流名称、描述、创建者信息等。
            operationId: get_get_workflow_info
            parameters:
                - description: "工作流 ID。 \n 进入工作流编排页面，在页面 URL 中，workflow 参数后的数字就是 Workflow ID。例如 https://www.coze.com/work_flow?space_id=42463*&workflow_id=73505836754923*，Workflow ID 为 73505836754923*。"
                  in: path
                  name: workflow_id
                  required: true
                  schema:
                    type: string
                - description: "是否在返回结果中返回输入和输出参数的结构体。 \n  \n * true：返回输入输出参数结构体 \n * false：不返回输入输出参数结构体 \n  \n 默认值为 false。"
                  in: query
                  name: include_input_output
                  required: false
                  schema:
                    type: boolean
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/WorkflowInfo'
                                        description: 工作流的详细信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的日志信息，用于问题排查和技术支持。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查询工作流基本信息
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/get_workflow_info
servers:
    - url: https://api.coze.cn
