components:
    schemas:
        ListCategoryData:
            properties:
                has_more:
                    description: "是否已返回全部消息。 \n  \n * true：未返回全部数据，可再次调用此接口查看其他分页。 \n * false：已返回全部数据。"
                    type: boolean
                items:
                    description: 插件分类列表。
                    items:
                        $ref: '#/components/schemas/ProductCategory'
                    type: array
            type: object
        ProductCategory:
            properties:
                id:
                    description: 插件分类 ID。
                    type: string
                name:
                    description: 插件分类名称。
                    type: string
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 查询插件分类
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/stores/categories:
        get:
            description: |-
                查询插件分类信息。
                你可以通过本 API 获取插件的分类 ID，后续调用查询插件列表  API 查询指定分类下的插件。
            operationId: get_list_plugin_category
            parameters:
                - description: 实体类型，当前仅支持 plugin，表示插件。
                  in: query
                  name: entity_type
                  required: true
                  schema:
                    type: string
                - description: 分页查询时的页码。默认为 1，即返回第一页数据。
                  in: query
                  name: page_num
                  required: false
                  schema:
                    type: integer
                - description: 每页返回的数据条数，用于分页查询。默认值为 20，最大值为 100。
                  in: query
                  name: page_size
                  required: false
                  schema:
                    type: integer
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/ListCategoryData'
                                        description: 返回插件分类列表及相关分页信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细日志信息，用于问题排查和技术支持。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查询插件分类
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/list_plugin_category
servers:
    - url: https://api.coze.cn
