components:
    schemas:
        OpenSpaceMember:
            properties:
                role_type:
                    description: "该用户在空间中的角色： \n  \n * admin：空间管理员。 \n * member：空间成员。 \n * owner：空间所有者。"
                    type: string
                user_id:
                    description: 用户的扣子用户 ID。
                    type: string
                user_nickname:
                    description: 用户的昵称。
                    type: string
                user_unique_name:
                    description: 用户的名称。
                    type: string
            type: object
        OpenSpaceMemberListData:
            properties:
                items:
                    description: 返回的成员列表。
                    items:
                        $ref: '#/components/schemas/OpenSpaceMember'
                    type: array
                total_count:
                    description: 空间中的成员总数。
                    format: int64
                    type: integer
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 查看空间成员列表
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/workspaces/{workspace_id}/members:
        get:
            description: 查看指定空间的成员列表。
            operationId: get_list_space_member
            parameters:
                - description: "需要查看成员列表的空间 ID。 \n 进入指定空间，空间页面 URL 中 w 参数后的数字就是 工作空间 ID。例如https://code.coze.cn/w/75814654762959*/projects，workspace_id 为 75814654762959*。"
                  in: path
                  name: workspace_id
                  required: true
                  schema:
                    type: string
                - description: 查询结果分页展示时，此参数用于设置查看的页码。最小值为 1，默认为 1。
                  in: query
                  name: page_num
                  required: false
                  schema:
                    type: integer
                - description: 查询结果分页展示时，此参数用于设置每页返回的数据量。取值范围为 1~50，默认为 20。
                  in: query
                  name: page_size
                  required: false
                  schema:
                    type: integer
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/OpenSpaceMemberListData'
                                        description: 返回的数据对象，包含空间成员列表和总数。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 本次请求返回的详细信息。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查看空间成员列表
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/list_space_member
servers:
    - url: https://api.coze.cn
