components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 提交消息评价
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/conversations/{conversation_id}/messages/{message_id}/feedback:
        post:
            description: 用户可以对智能体或应用回复的消息提交评价，包括点赞、点踩和反馈详细的评论。
            operationId: post_message_feedback
            parameters:
                - description: Conversation ID，即会话的唯一标识。你可以在发起对话 API 返回的 Response 中查看 conversation_id 字段。
                  in: path
                  name: conversation_id
                  required: true
                  schema:
                    type: string
                - description: "针对指定的消息 ID 提交评价。你可以通过查看对话消息详情 API 返回的 Response 中查看消息 ID。 \n  \n * 此消息必须在 conversation_id 指定的会话中。 \n * 仅支持评价以下来源的文本消息： \n    * 通过发起对话 API 生成的 type=answer 类型的文本消息。 \n    * 通过执行对话流 API 返回的文本消息。"
                  in: path
                  name: message_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                comment:
                                    description: 用户对智能体回复消息的具体评价，最多可输入 250 个字符。
                                    type: string
                                feedback_type:
                                    description: "对智能体或应用回复的消息提交评价，包括以下枚举值： \n  \n * like：点赞。 \n * unlike：点踩。"
                                    type: string
                                reason_types:
                                    description: "用户自定义的反馈标签列表，用于分类标识对智能体回复的具体不满类型。每个标签应为简明扼要的分类描述，如问题类型等。 \n 最多可添加 10 个标签，单个标签长度不超过 30 个字符。"
                                    items:
                                        type: string
                                    type: array
                            required:
                                - feedback_type
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细日志信息，用于问题排查。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 提交消息评价
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/message_feedback
servers:
    - url: https://api.coze.cn
