components:
    schemas:
        PublishDraftBotData:
            properties:
                bot_id:
                    description: 发布的智能体的 ID。
                    type: string
                version:
                    description: 智能体的版本号，用于标识智能体的当前版本号。
                    type: string
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 发布智能体
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/bot/publish:
        post:
            description: 将指定智能体发布到 API、Chat SDK 或者自定义渠道。
            operationId: post_publish_bot
            parameters:
                - description: 用于验证客户端身份的访问令牌。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                bot_id:
                                    description: "要发布的智能体 ID。 \n 进入智能体的开发页面，开发页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.com/space/341/bot/73428668*，bot ID 为73428668*。"
                                    type: string
                                connector_ids:
                                    description: "智能体的发布渠道 ID 列表。目前支持通过此 API 将智能体发布为 API、Chat SDK 以及自定义渠道。 \n  \n * API: 1024 \n * ChatSDK: 999 \n * 自定义渠道: 自定义渠道 ID。自定义渠道 ID 的获取方式如下：在扣子编程左下角单击头像，在账号设置 > 发布渠道 > 企业自定义渠道管理页面查看渠道 ID。"
                                    items:
                                        type: string
                                    type: array
                                connectors:
                                    additionalProperties: true
                                    description: "智能体发布自定义渠道时，你可以通过该参数传递自定义参数给渠道。例如，设置将智能体发布到指定设备。格式：{\"渠道 ID\":{\"key\":\"value\"}}，其中 key 为绑定设备 API 中设置的 key 值，value 需要经 JSON 序列化。 \n 智能体发布自定义渠道时，需要同时发布 API 渠道。"
                                    type: object
                            required:
                                - bot_id
                                - connector_ids
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: "调用状态码。 \n  \n * 0 表示调用成功。 \n * 其他值表示调用失败。你可以通过 msg 字段判断详细的错误原因。"
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/PublishDraftBotData'
                                        description: 接口响应的业务信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细日志信息，用于问题排查和调试。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 发布智能体
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/publish_bot
servers:
    - url: https://api.coze.cn
