components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 删除应用的协作者
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/apps/{app_id}/collaborators/{user_id}:
        delete:
            description: |-
                删除低代码应用的协作者。
                删除协作者时，扣子编程会将该协作者创建的工作流、插件等资源转移给应用的所有者。
            operationId: delete_remove_app_collaborator
            parameters:
                - description: "待删除协作者的低代码应用的 ID。 \n 进入低代码应用编排页面，页面 URL 中 project-ide 参数后的数字就是应用 ID。例如https://www.coze.cn/space/7532329396037500982/project-ide/7535386114057*，应用 ID 为 7535386114057*。"
                  in: path
                  name: app_id
                  required: true
                  schema:
                    type: string
                - description: "待删除协作者的扣子用户 UID。 \n 在扣子编程左下角单击头像，选择账号设置，查看账号的 UID。"
                  in: path
                  name: user_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 删除应用的协作者
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/remove_app_collaborator
servers:
    - url: https://api.coze.cn
