components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 开启或关闭工作流多人协作
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/workflows/{workflow_id}/collaboration_mode:
        post:
            description: |-
                开启或关闭工作流、对话流多人协作。
                开启多人协作后，你才能调用添加工作流的协作者 API 为工作流添加协作者。
            operationId: post_switch_workflow_develop_mode
            parameters:
                - description: "需要设置协作模式的工作流 ID。 \n 进入工作流编排页面，在页面 URL 中，workflow 参数后的数字就是 Workflow ID。例如 https://www.coze.com/work_flow?space_id=42463*&workflow_id=73505836754923*，Workflow ID 为 73505836754923*。"
                  in: path
                  name: workflow_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                collaboration_mode:
                                    description: "工作流的协作模式，枚举值： \n  \n * single：单用户模式。 \n * collaboration：多人协作模式。 \n  \n 如需将工作流多人协作模式变更为单用户模式，需要先调用删除工作流协作者 API 删除所有协作者。"
                                    type: string
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的日志信息，用于问题排查和技术支持。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 开启或关闭工作流多人协作
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/switch_workflow_develop_mode
servers:
    - url: https://api.coze.cn
