components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 修改企业员工的角色
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/enterprises/{enterprise_id}/members/{user_id}:
        put:
            description: |-
                修改企业员工的角色。
                企业员工角色包括企业管理员和企业普通成员，你可以通过本 API 修改企业员工的角色。
            operationId: put_update_enterprise_people
            parameters:
                - description: "企业 ID，待修改的员工所属的企业。 \n 你可以在组织管理 > 组织设置页面查看企业 ID。 \n !Image"
                  in: path
                  name: enterprise_id
                  required: true
                  schema:
                    type: string
                - description: "待修改员工的扣子用户 UID。 \n 你可以调用火山引擎的 ListCozeUser-成员列表 API，其中 CozeUserId的值即为扣子用户 UID。"
                  in: path
                  name: user_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息参考OAuth JWT 授权（企业特权应用）。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                role:
                                    description: "设置成员在企业中的角色，枚举值： \n  \n * enterprise_admin：企业管理员。 \n * enterprise_member：企业普通成员。"
                                    type: string
                            required:
                                - role
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID，便于在异常情况下进行问题排查。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 修改企业员工的角色
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_enterprise_people
servers:
    - url: https://api.coze.cn
