components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 修改回调应用
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/api_apps/{api_app_id}:
        put:
            description: 修改回调应用的名称和回调地址。
            operationId: put_update_callback_app
            parameters:
                - description: 待修改的回调应用的 ID。你可以通过查询回调应用列表 API 获取回调应用的 ID。
                  in: path
                  name: api_app_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                callback_url:
                                    description: "修改后的回调地址，用于接收扣子编程发送的事件通知。 \n 扣子编程会向该地址发送包含 challenge 的 POST 请求进行校验，服务器需在 3 秒内原样返回 challenge 值以验证地址有效性。详情请参考订阅回调。"
                                    type: string
                                name:
                                    description: 修改后的回调应用名称，用于标识修改后的回调应用身份或用途。
                                    type: string
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息，主要用于问题排查。如果遇到异常报错场景，且反复重试仍然报错，可以根据此字段中的 logid联系扣子团队获取帮助。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 修改回调应用
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_callback_app
servers:
    - url: https://api.coze.cn
