components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 修改组织成员角色
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/organizations/{organization_id}/members/{user_id}:
        put:
            description: |-
                修改组织成员的角色。
                组织成员角色包括组织超级管理员、组织管理员、组织成员和访客。你可以通过本 API 修改组织成员的角色。
            operationId: put_update_organization_people
            parameters:
                - description: "待修改组织成员的组织 ID。  \n 你可以在组织管理 > 组织设置页面查看对应的组织 ID。 \n !Image"
                  in: path
                  name: organization_id
                  required: true
                  schema:
                    type: string
                - description: "待修改角色的组织成员的 UID。 \n 你可以调用查询组织成员列表 API，查看组织成员的扣子用户 UID。"
                  in: path
                  name: user_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息参考OAuth JWT 授权（企业特权应用）。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                organization_role_type:
                                    description: "设置用户在组织中的角色，枚举值： \n  \n * organization_super_admin：组织超级管理员。 \n * organization_admin：组织管理员。 \n * organization_member：组织成员。"
                                    type: string
                            required:
                                - organization_role_type
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细信息，主要用于异常报错场景下的问题排查。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 修改组织成员角色
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_organization_people
servers:
    - url: https://api.coze.cn
