components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 更新审核结果
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/connectors/{connector_id}/bots/{bot_id}:
        put:
            description: |-
                调用该接口更新智能体发布到自定义渠道的审核结果。
                用户将智能体发布到自定义渠道后，如果触发了自定义渠道的审核流程，自定义渠道会通过回调消息返回审核结果。如果审核耗时较长，自定义渠道可以先在回调中返回审核中状态，审核结束后，再通过此 API 通知扣子此智能体的最终审核结果。
            operationId: put_update_review_result
            parameters:
                - description: "要更新的智能体 ID。 \n 进入智能体的编排页面，编排页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.cn/space/341/bot/73428668*，智能体 ID 为73428668*。"
                  in: path
                  name: bot_id
                  required: true
                  schema:
                    type: string
                - description: 渠道 ID。需要跟 token 的渠道一致。
                  in: path
                  name: connector_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                audit_status:
                                    description: "渠道审核状态。支持设置为： \n  \n * 1: 审核中 \n * 2: 审核通过 \n * 3: 审核不通过"
                                    type: integer
                                reason:
                                    description: 审核不通过的具体原因。
                                    type: string
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: "调用状态码。 \n  \n * 0 表示调用成功。 \n * 其他值表示调用失败。你可以通过 msg 字段判断详细的错误原因。"
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 更新审核结果
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_review_result
servers:
    - url: https://api.coze.cn
