components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 更新知识库图片描述
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/datasets/{dataset_id}/images/{document_id}:
        put:
            description: 调用此接口更新扣子知识库中图片的描述信息。
            operationId: put_update_image_caption
            parameters:
                - description: 待更新描述的图片 ID。
                  in: path
                  name: document_id
                  required: true
                  schema:
                    type: string
                - description: "知识库 ID。 \n 在扣子编程中打开指定知识库页面，页面 URL 中 knowledge 参数后的数字就是知识库 ID。例如 https://bots.bytedance.net/space/736142423532160/knowledge/738509371792341，知识库 ID 为 738509371792341。"
                  in: path
                  name: dataset_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                caption:
                                    description: 图片的描述信息。
                                    type: string
                            required:
                                - caption
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: "状态码。 \n 0 代表调用成功。"
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 更新知识库图片描述
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_image_caption
servers:
    - url: https://api.coze.cn
