components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 修改工作空间基本信息
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/workspaces/{workspace_id}:
        put:
            description: 修改指定工作空间的基本信息，包括空间名称和描述。
            operationId: put_update_workspace_info
            parameters:
                - description: "需要修改工作空间信息的工作空间 ID。 \n 进入指定空间，空间页面 URL 中 w 参数后的数字就是 工作空间 ID。例如https://code.coze.cn/w/75814654762959*/projects，workspace_id 为 75814654762959*。"
                  in: path
                  name: workspace_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                description:
                                    description: "修改后的工作空间的描述。默认为空，表示不修改。 \n 最大长度为 2000 个字符。"
                                    type: string
                                name:
                                    description: "修改后的工作空间的名称。默认为空，表示不修改。 \n 最大长度为 50 个字符。"
                                    type: string
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的日志信息，用于问题排查和技术支持。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 修改工作空间基本信息
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_workspace_info
servers:
    - url: https://api.coze.cn
