components:
    schemas:
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 更新声纹组信息
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/audio/voiceprint_groups/{group_id}:
        put:
            description: 更新声纹组的名称或描述。
            operationId: put_update_voiceprint_group
            parameters:
                - description: 待更新的声纹组的 ID。你可以通过查看声纹组列表 API 查看声纹组 ID。
                  in: path
                  name: group_id
                  required: true
                  schema:
                    type: integer
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                desc:
                                    description: 更新后的声纹组描述，最长 500 个字符。
                                    type: string
                                name:
                                    description: 更新后的声纹组名称，最长 20 个字符。
                                    type: string
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 本次请求的详细信息。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 更新声纹组信息
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/update_voiceprint_group
servers:
    - url: https://api.coze.cn
