components:
    schemas:
        File:
            properties:
                bytes:
                    description: 文件的总字节数。
                    format: int64
                    type: integer
                created_at:
                    description: 文件的上传时间，格式为 10 位的 Unixtime 时间戳，单位为秒（s）。
                    format: int64
                    type: integer
                file_name:
                    description: 文件名称。
                    type: string
                id:
                    description: 已上传的文件 ID。
                    type: string
            type: object
info:
    title: 上传文件
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/files/upload:
        post:
            description: 调用接口上传文件到扣子编程。
            operationId: post_upload_files
            parameters:
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 解释请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            properties:
                                Data:
                                    description: "待上传文件的二进制数据。 \n 开发者需要在前端应用中实现文件选择功能，获取用户选择的文件后，将文件的二进制内容直接设置为 HTTP 请求体。"
                                    format: binary
                                    type: string
                            required:
                                - Data
                            type: object
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/File'
                                        description: 已上传的文件信息。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 上传文件
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/upload_files
servers:
    - url: https://api.coze.cn
