components:
    schemas:
        FolderSimpleInfo:
            properties:
                creator_user_id:
                    description: 创建该文件夹的扣子用户 UID，用于标识文件夹的创建者。
                    type: string
                description:
                    description: 文件夹的描述信息，用于提供关于文件夹的额外说明或备注。
                    type: string
                folder_type:
                    description: 文件夹类型，当前仅支持 development。
                    type: string
                id:
                    description: 文件夹 ID。
                    type: string
                name:
                    description: 文件夹的名称，用于标识和区分不同的文件夹。
                    type: string
                parent_folder_id:
                    description: 当前文件夹的父文件夹 ID，用于标识文件夹的层级关系。如果未返回该字段，则表示当前文件夹为根文件夹。
                    type: string
                workspace_id:
                    description: 文件夹所属的工作空间的 Space ID。Space ID 是空间的唯一标识。
                    type: string
            type: object
        ResponseDetail:
            properties:
                logid:
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
                    type: string
            type: object
info:
    title: 查询文件夹详情
    version: 1.0.0
openapi: 3.0.3
paths:
    /v1/folders/{folder_id}:
        get:
            description: 工作空间中的用户可以查询工作空间中指定文件夹的详情，包括文件夹的名称、描述、所属工作空间、文件夹创建者的 UID等。
            operationId: get_workspace_read_folder
            parameters:
                - description: "文件夹 ID。你可以通过扣子编程页面获取文件夹 ID： \n 进入指定工作空间，单击项目管理，单击目标文件夹，在 URL 中 folder_id 参数后的数字就是文件夹 ID。例如：https://code.coze.cn/w/74982048832804*/projects?folder_id=75635667770837*，folder_id 为 75635667770837*。"
                  in: path
                  name: folder_id
                  required: true
                  schema:
                    type: string
                - description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  in: header
                  name: Authorization
                  required: false
                  schema:
                    type: string
                - description: 请求正文的方式。
                  in: header
                  name: Content-Type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    code:
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                        format: int64
                                        type: integer
                                    data:
                                        $ref: '#/components/schemas/FolderSimpleInfo'
                                        description: 包含文件夹的详细信息，如文件夹 ID、名称、描述、所属工作空间 ID、创建者用户 UID 和父文件夹 ID。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细日志信息，用于问题排查和技术支持。
                                    msg:
                                        description: "状态信息。API 调用失败时可通过此字段查看详细错误信息。 \n 状态码为 0 时，msg 默认为空。"
                                        type: string
                                type: object
                    description: OK
            summary: 查询文件夹详情
            x-source-url: https://docs.coze.cn/api/open/docs/developer_guides/workspace_read_folder
servers:
    - url: https://api.coze.cn
