openapi: 3.0.3
info:
    title: 批量邀请用户加入空间
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/add_space_member
servers:
    - url: https://api.coze.cn
paths:
    /v1/workspaces/:workspace_id/members:
        post:
            operationId: CozePostadd_space_member
            summary: 批量邀请用户加入空间
            description: |-
                邀请用户加入工作空间，支持批量邀请，每次最多添加 20 个成员。

                批量邀请用户加入工作空间。
            tags:
                - developer_guides
            parameters:
                - name: workspace_id
                  in: path
                  description: 需要添加用户的工作空间 ID。 进入指定空间，空间页面 URL 中 w 参数后的数字就是 工作空间 ID。例如https://code.coze.cn/w/75814654762959/projects，workspace_id 为 75814654762959。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                users:
                                    type: array
                                    description: 待邀请加入工作空间的用户列表，单次最多添加 20 个成员。
                                    items:
                                        $ref: '#/components/schemas/OpenSpaceMember'
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/OpenAddSpaceMemberData'
                                        description: 添加成员的结果信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 响应详情信息。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: addMember
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/add_space_member
components:
    schemas:
        OpenAddSpaceMemberData:
            type: object
            properties:
                added_success_user_ids:
                    type: array
                    description: 企业标准版或企业旗舰版成功添加的用户 ID 列表。
                    items:
                        type: string
                already_invited_user_ids:
                    type: array
                    description: 已经发起邀请但用户还未同意加入的用户 ID 列表。 仅个人版的工作空间添加用户时需要发出邀请，用户同意后才会加入工作空间。
                    items:
                        type: string
                already_joined_user_ids:
                    type: array
                    description: 用户在该工作空间中已经存在，不重复添加。
                    items:
                        type: string
                invited_success_user_ids:
                    type: array
                    description: 个人版中，发起邀请且用户同意加入的用户 ID 列表。
                    items:
                        type: string
                not_exist_user_ids:
                    type: array
                    description: 因用户 ID 不存在而导致添加失败的用户 ID 列表。
                    items:
                        type: string
        OpenSpaceMember:
            type: object
            properties:
                role_type:
                    type: string
                    description: 该用户在工作空间中的角色： admin：工作空间管理员。 member：工作空间成员。 不支持设置为空间所有者。
                user_id:
                    type: string
                    description: 待邀请加入工作空间的用户的扣子用户 ID。 你可以单击扣子编程左下角的头像，选择账号设置，在页面底部查看扣子用户的 UID。 !Image
            required:
                - role_type
                - user_id
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
