openapi: 3.0.3
info:
    title: 添加应用的协作者
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/add_app_collaborator
servers:
    - url: https://api.coze.cn
paths:
    /v1/apps/:app_id/collaborators:
        post:
            operationId: CozePostadd_app_collaborator
            summary: 添加应用的协作者
            description: 添加低代码应用的协作者。
            tags:
                - developer_guides
            parameters:
                - name: app_id
                  in: path
                  description: 低代码应用的 ID。 进入应用编排页面，页面 URL 中 project-ide 参数后的数字就是应用 ID。例如https://www.coze.cn/space/7532329396037500982/project-ide/7535386114057，应用 ID 为 7535386114057。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                collaborators:
                                    type: array
                                    description: 低代码应用的协作者列表。单次最多添加 1个协作者。
                                    items:
                                        $ref: '#/components/schemas/CollaboratorAddData'
                            required:
                                - collaborators
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: Project.addCollaborator
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/add_app_collaborator
components:
    schemas:
        CollaboratorAddData:
            type: object
            properties:
                user_id:
                    type: string
                    description: 协作者的扣子用户 UID。你只能添加对应工作空间中的成员作为协作者。 在扣子编程平台左下角单击头像，选择账号设置，查看账号的 UID。
            required:
                - user_id
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
