openapi: 3.0.3
info:
    title: 创建声纹组
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/create_voiceprint_group
servers:
    - url: https://api.coze.cn
paths:
    /v1/audio/voiceprint_groups:
        post:
            operationId: CozePostcreate_voiceprint_group
            summary: 创建声纹组
            description: 创建声纹组。
            tags:
                - developer_guides
            parameters:
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                desc:
                                    type: string
                                    description: 声纹组的描述信息，用于详细说明该声纹组的用途或特点，长度不超过 500个字符。
                                name:
                                    type: string
                                    description: 声纹组的名称，用于标识和管理不同的声纹组，长度不超过 20个字符。
                            required:
                                - name
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/CreateVoicePrintGroupData'
                                        description: 声纹组的信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 响应详情信息。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: createVoiceprintGroup
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/create_voiceprint_group
components:
    schemas:
        CreateVoicePrintGroupData:
            type: object
            properties:
                id:
                    type: string
                    description: 声纹组 ID。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
