openapi: 3.0.3
info:
    title: 创建组织
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/create_organization
servers:
    - url: https://api.coze.cn
paths:
    /v1/enterprises/:enterprise_id/organizations:
        post:
            operationId: CozePostcreate_organization
            summary: 创建组织
            description: 在指定的企业中创建组织。
            tags:
                - developer_guides
            parameters:
                - name: enterprise_id
                  in: path
                  description: 企业 ID，用于标识该组织所属的企业。 你可以在组织管理 > 组织设置页面查看企业 ID。 !Image
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息参考OAuth JWT 授权（企业特权应用）。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                description:
                                    type: string
                                    description: 自定义组织的描述信息，最大长度为 100 个字符。默认为空。
                                name:
                                    type: string
                                    description: 自定义组织的名称。 最大长度为 30 个字符。
                                super_admin_user_id:
                                    type: string
                                    description: 指定组织的超级管理员的扣子用户 UID。 你可以调用火山引擎的 ListCozeUser-成员列表 API，CozeUserId 的值即为扣子用户 UID。 只有已加入企业的员工能被指定为组织的超级管理员。
                            required:
                                - name
                                - super_admin_user_id
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/CreateOrganizationData'
                                        description: 返回的组织信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细信息，主要用于异常报错场景下的问题排查。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: Enterprise.createOrganization
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/create_organization
components:
    schemas:
        CreateOrganizationData:
            type: object
            properties:
                organization_id:
                    type: string
                    description: 组织 ID。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
