openapi: 3.0.3
info:
    title: 删除知识库文件
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/delete_knowdge_files
servers:
    - url: https://api.coze.cn
paths:
    /open_api/knowledge/document/delete:
        post:
            operationId: CozePostdelete_knowdge_files
            summary: 删除知识库文件
            description: |-
                调用此接口删除扣子知识库中的文本、图片、表格等文件，支持批量删除。
                仅知识库的所有者可以删除知识库文件。
                知识库分为扣子知识库和火山知识库，该 API 仅用于删除扣子知识库中的文件，不支持删除火山知识库中的文件，如果需要删除火山知识库中的文件，请参见删除火山知识库文件。

                调用此接口删除知识库中的文本、图片、表格等文件，支持批量删除。
            tags:
                - developer_guides
            parameters:
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
                - name: Agw-Js-Conv
                  in: header
                  description: 防止丢失数字类型参数的精度。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                document_ids:
                                    type: array
                                    description: 待删除的知识库文件列表。数组最大长度为 100，即一次性最多可删除 100 个文件。
                                    items:
                                        type: string
                            required:
                                - document_ids
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 状态码。 0 代表调用成功。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息，主要用于调试和问题排查。如果遇到异常报错场景，且反复重试仍然报错，可以根据此字段中的 logid联系扣子团队获取帮助。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: deleteDocument
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/delete_knowdge_files
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
