openapi: 3.0.3
info:
    title: 删除消息评价
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/delete_message_feedback
servers:
    - url: https://api.coze.cn
paths:
    /v1/conversations/:conversation_id/messages/:message_id/feedback:
        delete:
            operationId: CozeDeletedelete_message_feedback
            summary: 删除消息评价
            description: 删除指定消息的评价。
            tags:
                - developer_guides
            parameters:
                - name: conversation_id
                  in: path
                  description: Conversation ID，即会话的唯一标识。可以在发起对话接口 Response 中查看 conversation_id 字段。
                  required: true
                  schema:
                    type: string
                - name: message_id
                  in: path
                  description: 待删除评价的消息 ID。你可以通过查看对话消息详情 API 返回的 Response 中查看消息 ID。 此消息必须在 conversation_id 指定的会话中。 仅支持评价以下来源的文本消息： 通过发起对话 API 生成的 type=answer 类型的文本消息。 通过执行对话流 API 返回的文本消息。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细日志信息，用于问题排查和技术支持。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: DELETE
            x-coze-permission: feedback
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/delete_message_feedback
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
