openapi: 3.0.3
info:
    title: 查询输出节点的执行结果
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/get_node_execute_history_response
servers:
    - url: https://api.coze.cn
paths:
    /v1/workflows/:workflow_id/run_histories/:execute_id/execute_nodes/:node_execute_uuid:
        get:
            operationId: CozeGetget_node_execute_history_response
            summary: 查询输出节点的执行结果
            description: 查询输出节点的执行结果。
            tags:
                - developer_guides
            parameters:
                - name: workflow_id
                  in: path
                  description: 要执行的 Workflow ID，需要先完成发布 Workflow 的操作。 进入 Workflow 编排页，在页面 URL 中，workflow 参数后的数字就是 Workflow ID。例如： https://www.coze.com/work_flow?space_id=73119690542463&workflow_id=73505836754923 , Workflow ID 为 73505836754923 。
                  required: true
                  schema:
                    type: string
                - name: execute_id
                  in: path
                  description: 工作流的执行 ID。调用接口执行工作流，如果选择异步执行工作流，响应信息中会返回 execute_id。
                  required: true
                  schema:
                    type: string
                - name: node_execute_uuid
                  in: path
                  description: 工作流异步执行结果 API 中返回的节点执行 uuid。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/WorkflowNodeExecuteHistory'
                                        description: 节点的执行结果。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 该请求的响应信息。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: listRunHistory
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/get_node_execute_history_response
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
        WorkflowNodeExecuteHistory:
            type: object
            properties:
                is_finish:
                    type: boolean
                    description: 节点是否执行完成。 true 表示执行已完成。 false表示执行未完成。
                node_output:
                    type: string
                    description: 节点的执行结果输出信息。
