openapi: 3.0.3
info:
    title: 查看知识库文件上传进度
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/get_dataset_progress
servers:
    - url: https://api.coze.cn
paths:
    /v1/datasets/:dataset_id/process:
        post:
            operationId: CozePostget_dataset_progress
            summary: 查看知识库文件上传进度
            description: |-
                调用此接口获取扣子知识库文件的上传进度。
                此接口支持查看所有类型知识库文件的上传进度，例如文本、图片、表格。
                支持批量查看多个文件的进度，多个文件必须位于同一个知识库中。
                该 API 仅支持查看扣子知识库中的文件上传进度，不支持查看火山知识库中的文件上传进度。

                调用此接口获取知识库文件的上传进度。
            tags:
                - developer_guides
            parameters:
                - name: dataset_id
                  in: path
                  description: 扣子知识库 ID。不能填写火山知识库 ID。 在扣子编程中打开指定扣子知识库页面，页面 URL 中 knowledge 参数后的数字就是扣子知识库 ID。例如 https://www.coze.cn/space/736142423532160/knowledge/738509371792341，扣子知识库 ID 为 738509371792341。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                document_ids:
                                    type: array
                                    description: 需要获取上传进度的文件 ID 列表。
                                    items:
                                        type: string
                            required:
                                - document_ids
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/GetDocumentProgressOpenApiData'
                                        description: 接口返回的业务信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: POST
            x-coze-permission: readDocumentProgress
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/get_dataset_progress
components:
    schemas:
        DocumentProgress:
            type: object
            properties:
                document_id:
                    type: string
                    description: 文件的 ID。
                document_name:
                    type: string
                    description: 文件名称。
                progress:
                    type: integer
                    format: int32
                    description: 文件上传的进度。单位为百分比。
                remaining_time:
                    type: integer
                    format: int64
                    description: 预期剩余时间，单位为秒。
                size:
                    type: integer
                    format: int64
                    description: 文件的大小，单位为字节。
                status:
                    type: integer
                    format: int32
                    description: 文件的处理状态。取值包括： 0：处理中 1：处理完毕 9：处理失败，建议重新上传
                status_descript:
                    type: string
                    description: 失败状态的详细描述，例如切片失败时返回失败信息。 仅文档处理失败时会返回此参数。
                type:
                    type: string
                    description: 本地文件格式，即文件后缀，例如 txt。格式支持 pdf、txt、doc、docx 类型。
                update_interval:
                    type: integer
                    format: int32
                    description: 在线网页自动更新的频率。单位为小时。
                update_type:
                    type: integer
                    format: int32
                    description: 在线网页是否自动更新。取值包括： 0：不自动更新 1：自动更新
                url:
                    type: string
                    description: 文件地址。
        GetDocumentProgressOpenApiData:
            type: object
            properties:
                data:
                    type: array
                    description: 文件的上传进度详情。
                    items:
                        $ref: '#/components/schemas/DocumentProgress'
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
