openapi: 3.0.3
info:
    title: 查询插件分类
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/list_plugin_category
servers:
    - url: https://api.coze.cn
paths:
    /v1/stores/categories:
        get:
            operationId: CozeGetlist_plugin_category
            summary: 查询插件分类
            description: |-
                查询插件分类信息。
                你可以通过本 API 获取插件的分类 ID，后续调用查询插件列表 API 查询指定分类下的插件。

                查询插件分类信息。
            tags:
                - developer_guides
            parameters:
                - name: entity_type
                  in: query
                  description: 实体类型，当前仅支持 plugin，表示插件。
                  required: true
                  schema:
                    type: string
                - name: page_num
                  in: query
                  description: 分页查询时的页码。默认为 1，即返回第一页数据。
                  schema:
                    type: integer
                    format: int32
                - name: page_size
                  in: query
                  description: 每页返回的数据条数，用于分页查询。默认值为 20，最大值为 100。
                  schema:
                    type: integer
                    format: int32
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/ListCategoryData'
                                        description: 返回插件分类列表及相关分页信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细日志信息，用于问题排查和技术支持。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: 无
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/list_plugin_category
components:
    schemas:
        ListCategoryData:
            type: object
            properties:
                has_more:
                    type: boolean
                    description: 是否已返回全部消息。 true：未返回全部数据，可再次调用此接口查看其他分页。 false：已返回全部数据。
                items:
                    type: array
                    description: 插件分类列表。
                    items:
                        $ref: '#/components/schemas/ProductCategory'
        ProductCategory:
            type: object
            properties:
                id:
                    type: string
                    description: 插件分类 ID。
                name:
                    type: string
                    description: 插件分类名称。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
