openapi: 3.0.3
info:
    title: 查询回调应用列表
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/list_callback_app
servers:
    - url: https://api.coze.cn
paths:
    /v1/api_apps:
        get:
            operationId: CozeGetlist_callback_app
            summary: 查询回调应用列表
            description: 查询回调应用列表。
            tags:
                - developer_guides
            parameters:
                - name: page_token
                  in: query
                  description: 分页查询时的翻页标识，表示下一页的起始位置。默认为空字符串 ""，即从第一页数据开始返回。如果要查询下一页，需要使用上一次返回的 next_page_token 作为这次请求的入参。
                  schema:
                    type: string
                - name: page_size
                  in: query
                  description: 每页返回的数据条数，用于分页查询。默认值：50。 取值范围：1 ~ 50。
                  schema:
                    type: integer
                    format: int32
                - name: app_type
                  in: query
                  description: 回调应用的类型。默认为空，查看所有类型的回调应用。枚举值如下： normal：普通回调应用。 connector：渠道回调应用。
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/GetApiAppListOpenRespData'
                                        description: 返回的回调应用列表数据，包含分页信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的日志信息，用于问题排查。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: listApiApp
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/list_callback_app
components:
    schemas:
        ApiApp:
            type: object
            properties:
                app_type:
                    type: string
                    description: 回调应用的类型。枚举值如下： normal：普通回调应用。 connector：渠道回调应用。
                callback_url:
                    type: string
                    description: 回调地址。后续该回调应用订阅的所有回调，均会在触发时向该回调地址发送回调数据。
                connector_id:
                    type: string
                    description: 自定义的渠道 ID。仅渠道回调应用会返回该参数。
                id:
                    type: string
                    description: 回调应用的 ID。
                name:
                    type: string
                    description: 回调应用的名称。
                verify_token:
                    type: string
                    description: 扣子编程会为每个回调应用自动生成一个 Token，不支持手动修改或删除。 当扣子编程推送回调时，会携带 Token 签发的签名，用于验证推送的回调是否属于扣子编程推送的合法回调。开发者验证签名的具体操作请参见接收并处理回调。
        GetApiAppListOpenRespData:
            type: object
            properties:
                has_more:
                    type: boolean
                    description: 标识当前返回的回调应用列表是否还有更多数据未返回。 true ：还有更多未返回的回调应用。 false：已返回所有数据。
                items:
                    type: array
                    description: 回调应用列表，包含每个回调应用的详细信息。
                    items:
                        $ref: '#/components/schemas/ApiApp'
                next_page_token:
                    type: string
                    description: 分页 token，用于获取下一页数据。第一页请求时传空，后续请求通过上一个响应返回的 next_page_token获取下一页数据。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
