openapi: 3.0.3
info:
    title: 查询组织列表
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/list_organization
servers:
    - url: https://api.coze.cn
paths:
    /v1/enterprises/:enterprise_id/organizations:
        get:
            operationId: CozeGetlist_organization
            summary: 查询组织列表
            description: 查询指定企业中的组织列表。
            tags:
                - developer_guides
            parameters:
                - name: enterprise_id
                  in: path
                  description: 企业 ID，查询组织列表所属的企业。 你可以在组织管理 > 组织设置页面查看企业 ID。 !Image
                  required: true
                  schema:
                    type: string
                - name: page_num
                  in: query
                  description: 分页查询时的页码。默认为 1，即返回第一页数据。
                  schema:
                    type: integer
                    format: int32
                - name: page_size
                  in: query
                  description: 每页返回的数据条数，用于分页查询。默认值为 20，最大值为 20。
                  schema:
                    type: integer
                    format: int32
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息参考OAuth JWT 授权（企业特权应用）。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/ListOrganizationData'
                                        description: 包含符合查询条件的企业组织列表及其数量。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细信息，主要用于异常报错场景下的问题排查。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: Enterprise.listOrganization
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/list_organization
components:
    schemas:
        ListOrganizationData:
            type: object
            properties:
                items:
                    type: array
                    description: 企业下的组织列表，包含每个组织的详细信息。
                    items:
                        $ref: '#/components/schemas/OrganizationBasicInfo'
                total_count:
                    type: integer
                    format: int64
                    description: 企业中的组织数量。
        OrganizationBasicInfo:
            type: object
            properties:
                is_default_organization:
                    type: boolean
                    description: 标识当前组织是否为默认组织。 true ：默认组织。 false：自定义组织。
                organization_icon_url:
                    type: string
                    description: 组织的头像 URL 地址。
                organization_id:
                    type: string
                    description: 组织 ID。
                organization_name:
                    type: string
                    description: 组织名称。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
