openapi: 3.0.3
info:
    title: OAuth JWT 授权（开发者）
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/oauth_jwt
servers:
    - url: https://api.coze.cn
paths:
    /api/permission/oauth2/token:
        post:
            operationId: CozePostoauth_jwt
            summary: OAuth JWT 授权（开发者）
            description: |-
                纯后端应用通常不包含任何用户界面元素，用户无法直接与之交互。该场景下建议使用 JWT（JSON Web Token）模式，扣子账号直接永久授予 OAuth App 权限，OAuth App 随时可以通过后端应用签发的 JWT 获取访问令牌，以后端应用的身份请求扣子 API。
                OAuth 授权码授权、PKCE 授权、设备授权模式下，扣子编程支持多人协作场景下跨账号的 OAuth 授权，详细说明可参考OAuth 授权（多人协作场景）。
                # 示例项目源码
                使用 JWT 进行鉴权的步骤较为复杂，扣子编程提供了 Python 等多语言 SDK，能够有效简化鉴权流程，支持扣子编程的各种鉴权模式。推荐使用扣子 SDK 实现鉴权。以下是基于扣子 SDK 的 OAuth JWT 授权的示例代码，供参考：
                # 授权流程
                授权流程如下：
                1. 在扣子编程创建 OAuth 应用并完成授权。
                2. 应用程序通过公钥和私钥签署 JWT。
                3. 应用程序通过 API，获取访问令牌，具体请参见通过 JWT 获取 Oauth Access Token 。
                4. 应用程序根据访问令牌调用扣子 API。
                详细步骤如下：
            tags:
                - developer_guides
            parameters:
                - name: account_id
                  in: path
                  description: 在扣子企业旗舰版中，如果需要在指定组织下获取 Token，需要在 Path 中填写组织 ID。组织 ID 的获取方式如下： 组织超级管理员或管理员可以在组织设置页面查看对应的组织 ID。 !Image
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 使用应用的客户端私钥签署的 JWT。生成方式可参考2 签署 JWT。
                  required: true
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                duration_seconds:
                                    type: integer
                                    format: int32
                                    description: 申请的 AccessToken 有效期，单位为秒，默认 900 秒，即 15 分钟。最大可设置为 86399 秒，即 24 小时。
                                grant_type:
                                    type: string
                                    description: 固定为 urn:ietf:params:oauth:grant-type:jwt-bearer。
                            required:
                                - grant_type
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    access_token:
                                        type: string
                                        description: OAuth Access Token。
                                    expires_in:
                                        type: integer
                                        format: int32
                                        description: OAuth Access Token 的过期时间，Unixtime 时间戳格式，单位为秒。
            x-coze-original-method: POST
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/oauth_jwt
components:
    schemas:
        HeaderPayload:
            type: object
            properties:
                alg:
                    type: string
                    description: 签名使用的加密算法，固定为 RS256。 RS256 是一种基于非对称加密的签名算法，它结合了 RSA 加密和 SHA-256 哈希算法。
                kid:
                    type: string
                    description: OAuth 应用的公钥指纹，可以在OAuth 应用页面找到这个应用，在操作列单击编辑图标，进入配置页面查看公钥指纹。 !Image
                typ:
                    type: string
                    description: 固定为 JWT。
            required:
                - alg
                - kid
                - typ
