openapi: 3.0.3
info:
    title: 查询资源复制的结果
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/query_resource_copy_execution_result
servers:
    - url: https://api.coze.cn
paths:
    /v1/entities/copy_tasks/:task_id:
        get:
            operationId: CozeGetquery_resource_copy_execution_result
            summary: 查询资源复制的结果
            description: |-
                查询资源复制的结果。

                查询资源复制异步执行的结果。
            tags:
                - developer_guides
            parameters:
                - name: task_id
                  in: path
                  description: 资源复制的任务 ID。调用复制资源 API 时，如果 API 为异步执行，响应信息中会返回 task_id。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/OpenCopyTaskInfoData'
                                        description: 资源复制任务的结果数据，包含任务 ID、资源类型、任务状态、失败原因、原始资源 ID、复制后的资源 ID 以及目标工作空间 ID 等信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 本次请求的详细日志信息，用于问题排查。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: 无
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/query_resource_copy_execution_result
components:
    schemas:
        OpenCopyTaskInfoData:
            type: object
            properties:
                entity_type:
                    type: string
                    description: 待复制资源的类型。枚举值： app：应用。 bot：智能体。 workflow：工作流。
                failed_reasons:
                    type: array
                    description: 当资源复制任务失败时，该字段汇总所有失败的具体原因。每个失败原因包含资源 ID、名称、类型及详细错误描述。
                    items:
                        $ref: '#/components/schemas/TaskFailedReason'
                source_entity_id:
                    type: string
                    description: 源资源 ID。
                target_entity_id:
                    type: string
                    description: 复制后的资源 ID。
                target_workspace_id:
                    type: string
                    description: 资源复制后的目标工作空间 ID，表示资源被复制到的工作空间标识。
                task_id:
                    type: string
                    description: 资源复制的任务 ID。
                task_status:
                    type: string
                    description: 任务的状态。枚举值： in_progress：进行中。 successful：成功。 failed：失败。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
        TaskFailedReason:
            type: object
            properties:
                entity_id:
                    type: string
                    description: 在资源复制任务失败时，标识具体失败的资源 ID。
                entity_name:
                    type: string
                    description: 资源的名称。
                entity_type:
                    type: string
                    description: 在资源复制任务失败时，标识具体失败资源的类型。支持的取值如下所示。 app：应用。 bot：智能体。 workflow：工作流。 plugin：插件。 ui：应用的用户界面。 knowledge：知识库。 database：数据库。 variable：变量。 trigger：触发器。 prompt：提示词。 shortcut：快捷指令。
                failed_reason:
                    type: string
                    description: 资源复制任务失败的具体原因描述，API 调用失败时可通过此字段查看详细错误信息。
