openapi: 3.0.3
info:
    title: 移除组织成员
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/remove_organization_member
servers:
    - url: https://api.coze.cn
paths:
    /v1/organizations/:organization_id/members/:user_id:
        delete:
            operationId: CozeDeleteremove_organization_member
            summary: 移除组织成员
            description: |-
                移除组织成员，并指定资源接收人。

                移除组织成员。
            tags:
                - developer_guides
            parameters:
                - name: organization_id
                  in: path
                  description: 组织 ID。你可以在组织管理 > 组织设置页面查看对应的组织 ID。 !Image
                  required: true
                  schema:
                    type: string
                - name: user_id
                  in: path
                  description: 需要移除的扣子用户的 UID。 你可以调用火山引擎的 ListCozeUser-成员列表API，查看 CozeUserId 的值即为扣子用户 UID。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                receiver_user_id:
                                    type: string
                                    description: 接收被移除成员资源的扣子用户 UID，需填写组织超级管理员的用户 UID。被移除成员的工作空间、智能体、工作流等资源将转移给该用户。 获取组织超级管理员用户 UID 的步骤如下： 1. 在组织管理 > 组织成员管理页面查看组织的超级管理员信息。 2. 组织的超级管理员在扣子编程左下角单击头像，选择账号设置，查看账号的 UID。
                            required:
                                - receiver_user_id
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: DELETE
            x-coze-permission: Account.removeOrganizationPeople
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/remove_organization_member
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
