openapi: 3.0.3
info:
    title: 删除智能体的协作者
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/remove_bot_collaborator
servers:
    - url: https://api.coze.cn
paths:
    /v1/bots/:bot_id/collaborators/:user_id:
        delete:
            operationId: CozeDeleteremove_bot_collaborator
            summary: 删除智能体的协作者
            description: 删除智能体的协作者。
            tags:
                - developer_guides
            parameters:
                - name: bot_id
                  in: path
                  description: 需要删除协作者的智能体 ID。 进入智能体编排页面，页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.cn/space/341/bot/73428668，bot ID 为73428668。
                  required: true
                  schema:
                    type: string
                - name: user_id
                  in: path
                  description: 待删除的协作者的扣子用户 UID。 在扣子编程左下角单击头像，选择账号设置，查看账号的 UID。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: DELETE
            x-coze-permission: Bot.removeCollaborator
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/remove_bot_collaborator
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
