openapi: 3.0.3
info:
    title: 查看文件详情
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/retrieve_files
servers:
    - url: https://api.coze.cn
paths:
    /v1/files/retrieve:
        get:
            operationId: CozeGetretrieve_files
            summary: 查看文件详情
            description: 查看已上传的文件详情。
            tags:
                - developer_guides
            parameters:
                - name: file_id
                  in: query
                  description: 已上传的文件 ID。你可以通过上传文件 API 的返回信息中查看文件 ID。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/File'
                                        description: 已上传的文件信息，包含文件 ID、文件大小、文件名和上传时间等详细信息。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 响应详情信息。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: retrieveFile
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/retrieve_files
components:
    schemas:
        File:
            type: object
            properties:
                bytes:
                    type: integer
                    format: int64
                    description: 文件的总字节数。
                created_at:
                    type: integer
                    format: int64
                    description: 文件的上传时间，格式为 10 位的 Unixtime 时间戳，单位为秒（s）。
                file_name:
                    type: string
                    description: 文件名称。
                id:
                    type: string
                    description: 已上传的文件 ID。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
