openapi: 3.0.3
info:
    title: 语音合成
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/text_to_speech
servers:
    - url: https://api.coze.cn
paths:
    /v1/audio/speech:
        post:
            operationId: CozePosttext_to_speech
            summary: 语音合成
            description: 将指定文本合成为音频文件。
            tags:
                - developer_guides
            parameters:
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                context_texts:
                                    type: string
                                    description: 语音合成的辅助信息，用于控制合成语音的整体情绪（如悲伤、生气）、方言（如四川话、北京话）、语气（如撒娇、暧昧、吵架、夹子音）、语速（快慢）及音调（高低）等。 默认为空。 仅当 voice_id 为豆包语音合成大模型 2.0 音色时才支持该参数，具体音色列表请参见系统音色列表。 更多关于豆包语音合成 2.0 的 context_texts 示例和效果可参考语音指令-示例库。
                                emotion:
                                    type: string
                                    description: 设置多情感音色的情感类型，仅当 voice_id 为多情感音色时才支持设置情感类型。不同音色支持的情感范围不同，可以通过系统音色列表查看各音色支持的情感。默认为空。枚举值如下： happy：开心。 sad：悲伤。 angry：愤怒。 surprised：惊讶。 fear：恐惧。 hate：厌恶。 excited：兴奋。 coldness：冷漠。 neutral：中性。
                                emotion_scale:
                                    type: number
                                    format: double
                                    description: 情感值用于量化情感的强度。数值越高，情感表达越强烈，例如： “开心” 的情感值 5 比 1 更显兴奋。 取值范围：1.0~5.0，默认值：4.0。
                                input:
                                    type: string
                                    description: 合成语音的文本，经由 UTF-8 编码。长度限制为 1024 字节。
                                loudness_rate:
                                    type: integer
                                    format: int32
                                    description: 音频输出音量的增益或衰减比例，以百分比形式表示。取值范围为 -50 ~ 100，默认值为 0，表示原始音量。 负值表示衰减：-50 表示音量降低 50%（即 0.5 倍）。 正值表示增益：100表示音量提升 100%（即 2 倍）。
                                response_format:
                                    type: string
                                    description: 音频文件的编码格式，支持设置为： wav：返回二进制 wav 音频。 pcm：返回二进制 pcm 音频。 ogg_opus：返回多段含 opus 压缩分片音频。 mp3：（默认）返回二进制 mp3 音频。
                                sample_rate:
                                    type: integer
                                    format: int32
                                    description: 音频采样率，单位为 Hz。 8000：8k 16000：16k 22050：22.05k 24000：（默认）24k 32000：32k 44100：44.1k 48000：48k
                                speed:
                                    type: number
                                    format: double
                                    description: 语速，大模型音色的取值范围为 0.5~2，小模型音色的取值范围为 0.2~3，通常保留一位小数即可。 其中 0.2 表示 0.2 倍速，3 表示 3 倍速。默认为 1，表示 1 倍速。
                                voice_id:
                                    type: string
                                    description: 音频文件使用的音色 ID。 调用查看音色列表 API，可查看所有可用音色。
                            required:
                                - input
                                - voice_id
            responses:
                "200":
                    description: Success
            x-coze-original-method: POST
            x-coze-permission: createSpeech
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/text_to_speech
