openapi: 3.0.3
info:
    title: 修改知识库信息
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/update_dataset
servers:
    - url: https://api.coze.cn
paths:
    /v1/datasets/:dataset_id:
        put:
            operationId: CozePutupdate_dataset
            summary: 修改知识库信息
            description: |-
                调用此接口修改扣子知识库信息。
                此接口会全量刷新知识库的 name、file_id 和 description 配置，如果未设置这些参数，参数将恢复默认配置。
                知识库分为扣子知识库和火山知识库，该 API 仅用于修改扣子知识库，不支持修改火山知识库，如果需要修改火山知识库的信息，请参见修改火山知识库信息 API 文档。
                仅支持修改本人为所有者的知识库信息，包括知识库名称、图标、描述等信息。
                如需修改知识库图标，需要先调用 API 上传文件，将图片文件上传至扣子编程。

                调用此接口修改知识库信息。
            tags:
                - developer_guides
            parameters:
                - name: dataset_id
                  in: path
                  description: 知识库 ID。 在扣子编程中打开指定知识库页面，页面 URL 中 knowledge 参数后的数字就是知识库 ID。例如 https://www.coze.cn/space/736142423532160/knowledge/738509371792341，知识库 ID 为 738509371792341。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                description:
                                    type: string
                                    description: 知识库描述信息。
                                file_id:
                                    type: string
                                    description: 知识库图标，应传入上传文件接口中获取的 file_id。
                                name:
                                    type: string
                                    description: 知识库名称，长度不超过 100 个字符。
                            required:
                                - name
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 状态码。 0 代表调用成功。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 响应详情信息。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: PUT
            x-coze-permission: update
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/update_dataset
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
