openapi: 3.0.3
info:
    title: 更新审核结果
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/update_review_result
servers:
    - url: https://api.coze.cn
paths:
    /v1/connectors/:connector_id/bots/:bot_id:
        put:
            operationId: CozePutupdate_review_result
            summary: 更新审核结果
            description: |-
                调用该接口更新智能体发布到自定义渠道的审核结果。
                用户将智能体发布到自定义渠道后，如果触发了自定义渠道的审核流程，自定义渠道会通过回调消息返回审核结果。如果审核耗时较长，自定义渠道可以先在回调中返回审核中状态，审核结束后，再通过此 API 通知扣子此智能体的最终审核结果。

                更新智能体发布到自定义渠道的审核结果。
            tags:
                - developer_guides
            parameters:
                - name: bot_id
                  in: path
                  description: 要更新的智能体 ID。 进入智能体的编排页面，编排页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.cn/space/341/bot/73428668，智能体 ID 为73428668。
                  required: true
                  schema:
                    type: string
                - name: connector_id
                  in: path
                  description: 渠道 ID。需要跟 token 的渠道一致。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                audit_status:
                                    type: integer
                                    format: int32
                                    description: '渠道审核状态。支持设置为： 1: 审核中 2: 审核通过 3: 审核不通过'
                                reason:
                                    type: string
                                    description: 审核不通过的具体原因。
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。 0 表示调用成功。 其他值表示调用失败。你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: PUT
            x-coze-permission: Connector.botUpdateProfile
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/update_review_result
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
