openapi: 3.0.3
info:
    title: 更新知识库图片描述
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/update_image_caption
servers:
    - url: https://api.coze.cn
paths:
    /v1/datasets/:dataset_id/images/:document_id:
        put:
            operationId: CozePutupdate_image_caption
            summary: 更新知识库图片描述
            description: 调用此接口更新扣子知识库中图片的描述信息。
            tags:
                - developer_guides
            parameters:
                - name: document_id
                  in: path
                  description: 待更新描述的图片 ID。
                  required: true
                  schema:
                    type: string
                - name: dataset_id
                  in: path
                  description: 知识库 ID。 在扣子编程中打开指定知识库页面，页面 URL 中 knowledge 参数后的数字就是知识库 ID。例如 https://bots.bytedance.net/space/736142423532160/knowledge/738509371792341，知识库 ID 为 738509371792341。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                caption:
                                    type: string
                                    description: 图片的描述信息。
                            required:
                                - caption
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 状态码。 0 代表调用成功。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含请求的详细信息的对象，主要用于记录请求的日志 ID 以便于排查问题。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: PUT
            x-coze-permission: updatePhoto
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/update_image_caption
components:
    schemas:
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
