openapi: 3.0.3
info:
    title: 设置用户变量的值
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/update_variable
servers:
    - url: https://api.coze.cn
paths:
    /v1/variables:
        put:
            operationId: CozePutupdate_variable
            summary: 设置用户变量的值
            description: 为智能体或应用中的用户变量设置变量值。
            tags:
                - developer_guides
            parameters:
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 解释请求正文的方式。
                  schema:
                    type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                app_id:
                                    type: string
                                    description: 如果需要为应用设置用户变量的值时，填入对应的应用ID。 你可以通过应用的业务编排页面 URL 中获取应用 ID，也就是 URL 中 project-ide 参数后的一串字符，例如 https://www.coze.cn/space/739174157340921/project-ide/743996105122521/workflow/744102227704147 中，应用的 ID 为 743996105122521。 app_id 和 bot_id 应至少填写一个，否则会报错。
                                bot_id:
                                    type: string
                                    description: 需要为智能体设置用户设置变量的值时，填入对应的智能体 ID。 你可以通过智能体的编排页面获取智能体 ID，开发页面 URL 中 bot 参数后的数字就是智能体 ID。例如https://www.coze.com/space/341/bot/73428668，bot ID 为73428668。
                                connector_id:
                                    type: string
                                    description: 智能体或应用的发布渠道 ID 列表。目前支持如下渠道： API：（默认）1024 ChatSDK：999
                                connector_uid:
                                    type: string
                                    description: 用户 ID，用于为指定的用户设置变量的值。用户 ID 对应执行工作流 API 中 ext 字段指定的 user_id 或发起对话 API 中的 user_id。
                                data:
                                    type: array
                                    description: 用户变量的数组，不能为空。
                                    items:
                                        $ref: '#/components/schemas/KVItem'
                            required:
                                - connector_uid
                                - data
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 返回详情。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: PUT
            x-coze-permission: updateVariable
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/update_variable
components:
    schemas:
        KVItem:
            type: object
            properties:
                keyword:
                    type: string
                    description: 用户变量的名称。 keyword 必须为智能体或应用中已创建并开启的用户变量，不能设置为系统变量。
                value:
                    type: string
                    description: 用户变量的值。
            required:
                - keyword
                - value
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
