openapi: 3.0.3
info:
    title: 查询文件夹详情
    version: 1.0.0
    description: Generated from https://docs.coze.cn/api/open/docs/developer_guides/workspace_read_folder
servers:
    - url: https://api.coze.cn
paths:
    /v1/folders/:folder_id:
        get:
            operationId: CozeGetworkspace_read_folder
            summary: 查询文件夹详情
            description: |-
                工作空间中的用户可以查询工作空间中指定文件夹的详情，包括文件夹的名称、描述、所属工作空间、文件夹创建者的 UID等。

                查询文件夹详情。
            tags:
                - developer_guides
            parameters:
                - name: folder_id
                  in: path
                  description: 文件夹 ID。你可以通过扣子编程页面获取文件夹 ID： 进入指定工作空间，单击项目管理，单击目标文件夹，在 URL 中 folder_id 参数后的数字就是文件夹 ID。例如：https://code.coze.cn/w/74982048832804/projects?folder_id=75635667770837，folder_id 为 75635667770837。
                  required: true
                  schema:
                    type: string
                - name: Authorization
                  in: header
                  description: 用于验证客户端身份的访问令牌。你可以在扣子编程中生成访问令牌，详细信息，参考准备工作。
                  required: true
                  schema:
                    type: string
                - name: Content-Type
                  in: header
                  description: 请求正文的方式。
                  schema:
                    type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        format: int64
                                        description: 调用状态码。0 表示调用成功，其他值表示调用失败，你可以通过 msg 字段判断详细的错误原因。
                                    data:
                                        $ref: '#/components/schemas/FolderSimpleInfo'
                                        description: 包含文件夹的详细信息，如文件夹 ID、名称、描述、所属工作空间 ID、创建者用户 UID 和父文件夹 ID。
                                    detail:
                                        $ref: '#/components/schemas/ResponseDetail'
                                        description: 包含本次请求的详细日志信息，用于问题排查和技术支持。
                                    msg:
                                        type: string
                                        description: 状态信息。API 调用失败时可通过此字段查看详细错误信息。 状态码为 0 时，msg 默认为空。
            x-coze-original-method: GET
            x-coze-permission: readFolder
            x-coze-source: https://docs.coze.cn/api/open/docs/developer_guides/workspace_read_folder
components:
    schemas:
        FolderSimpleInfo:
            type: object
            properties:
                creator_user_id:
                    type: string
                    description: 创建该文件夹的扣子用户 UID，用于标识文件夹的创建者。
                description:
                    type: string
                    description: 文件夹的描述信息，用于提供关于文件夹的额外说明或备注。
                folder_type:
                    type: string
                    description: 文件夹类型，当前仅支持 development。
                id:
                    type: string
                    description: 文件夹 ID。
                name:
                    type: string
                    description: 文件夹的名称，用于标识和区分不同的文件夹。
                parent_folder_id:
                    type: string
                    description: 当前文件夹的父文件夹 ID，用于标识文件夹的层级关系。如果未返回该字段，则表示当前文件夹为根文件夹。
                workspace_id:
                    type: string
                    description: 文件夹所属的工作空间的 Space ID。Space ID 是空间的唯一标识。
        ResponseDetail:
            type: object
            properties:
                logid:
                    type: string
                    description: 本次请求的日志 ID。如果遇到异常报错场景，且反复重试仍然报错，可以根据此 logid 及错误码联系扣子团队获取帮助。详细说明可参考获取帮助和技术支持。
