language: python
output_sdk: exist-repo/coze-py-generated
api:
  packages:
    - name: api_apps
      source_dir: cozepy/api_apps
      client_class: APIAppsClient
      async_client_class: AsyncAPIAppsClient
      model_schemas:
        - schema: AppTypeOpen
          name: AppType
        - schema: ApiAppOpenV2
          name: APIApp
          field_order:
            - id
            - app_type
            - verify_token
            - name
            - connector_id
            - callback_url
      empty_models:
        - UpdateAPIAppsResp
        - DeleteAPIAppsResp
      child_clients:
        - attribute: events
          module: .events
          sync_class: APIAppsEventsClient
          async_class: AsyncAPIAppsEventsClient
      path_prefixes:
        - /v1/api_apps
    - name: apps
      source_dir: cozepy/apps
      model_schemas:
        - schema: properties_data_properties_items_items
          name: SimpleApp
          field_order:
            - id
            - name
            - description
            - icon_url
            - is_published
            - owner_user_id
            - updated_at
            - folder_id
            - published_at
          required_fields:
            - id
            - name
            - description
            - icon_url
            - is_published
            - owner_user_id
            - updated_at
      path_prefixes:
        - /v1/apps
    - name: audio
      source_dir: cozepy/audio
      child_clients:
        - attribute: rooms
          module: .rooms
          sync_class: RoomsClient
          async_class: AsyncRoomsClient
          nil_check: is_none
          init_with_keywords: true
        - attribute: speech
          module: .speech
          sync_class: SpeechClient
          async_class: AsyncSpeechClient
          nil_check: is_none
          init_with_keywords: true
        - attribute: transcriptions
          module: .transcriptions
          sync_class: TranscriptionsClient
          async_class: AsyncTranscriptionsClient
          nil_check: is_none
          init_with_keywords: true
        - attribute: voices
          module: .voices
          sync_class: VoicesClient
          async_class: AsyncVoicesClient
          nil_check: is_none
          init_with_keywords: true
        - attribute: voiceprint_groups
          module: .voiceprint_groups
          sync_class: VoiceprintGroupsClient
          async_class: AsyncVoiceprintGroupsClient
          nil_check: is_none
          init_with_keywords: true
        - attribute: live
          module: .live
          sync_class: LiveClient
          async_class: AsyncLiveClient
          nil_check: is_none
          init_with_keywords: true
      path_prefixes:
        - /v1/audio
    - name: bots
      source_dir: cozepy/bots
      path_prefixes:
        - /v1/bot
        - /v1/bots
    - name: chat
      source_dir: cozepy/chat
      path_prefixes:
        - /v3/chat
    - name: connectors
      source_dir: cozepy/connectors
      child_clients:
        - attribute: bots
          module: .bots
          sync_class: ConnectorsBotsClient
          async_class: AsyncConnectorsBotsClient
          disable_type_hints: true
      path_prefixes:
        - /v1/connectors
    - name: conversations
      source_dir: cozepy/conversations
      path_prefixes:
        - /v1/conversation
        - /v1/conversations
    - name: datasets
      source_dir: cozepy/datasets
      path_prefixes:
        - /v1/datasets
    - name: enterprises
      source_dir: cozepy/enterprises
      child_clients:
        - attribute: members
          module: .members
          sync_class: EnterprisesMembersClient
          async_class: AsyncEnterprisesMembersClient
      path_prefixes:
        - /v1/enterprises
    - name: files
      source_dir: cozepy/files
      path_prefixes:
        - /v1/files
    - name: folders
      source_dir: cozepy/folders
      model_schemas:
        - schema: FolderType
          name: FolderType
          enum_base: dynamic_str
        - schema: FolderSimpleInfo
          name: SimpleFolder
          field_order:
            - id
            - name
            - description
            - workspace_id
            - creator_user_id
            - folder_type
            - parent_folder_id
          required_fields:
            - id
            - name
            - description
            - workspace_id
            - creator_user_id
            - folder_type
      path_prefixes:
        - /v1/folders
    - name: knowledge
      source_dir: cozepy/knowledge
      path_prefixes:
        - /open_api/knowledge/document
    - name: templates
      source_dir: cozepy/templates
      path_prefixes:
        - /v1/templates
      allow_missing_in_swagger: true
    - name: users
      source_dir: cozepy/users
      path_prefixes:
        - /v1/users
      allow_missing_in_swagger: true
    - name: variables
      source_dir: cozepy/variables
      path_prefixes:
        - /v1/variables
    - name: workflows
      source_dir: cozepy/workflows
      path_prefixes:
        - /v1/workflow
        - /v1/workflows
    - name: workspaces
      source_dir: cozepy/workspaces
      path_prefixes:
        - /v1/workspaces
    - name: websockets
      source_dir: cozepy/websockets
      allow_missing_in_swagger: true
  operation_mappings:
    - path: /v3/chat
      method: post
      sdk_methods:
        - chat.create
        - chat.stream
    - path: /v1/api_apps
      method: post
      order: 10
      sdk_methods:
        - api_apps.create
      body_fields:
        - app_type
        - name
        - connector_id
      body_required_fields:
        - app_type
      use_kwargs_headers: true
      arg_types:
        app_type: AppType
      response_type: APIApp
      response_cast: APIApp
    - path: /v1/api_apps/{api_app_id}
      method: put
      order: 20
      sdk_methods:
        - api_apps.update
      body_fields:
        - name
        - callback_url
      use_kwargs_headers: true
      param_aliases:
        api_app_id: app_id
      response_type: UpdateAPIAppsResp
      response_cast: UpdateAPIAppsResp
    - path: /v1/api_apps/{api_app_id}
      method: put
      order: 30
      sdk_methods:
        - api_apps.delete
      http_method_override: delete
      disable_request_body: true
      use_kwargs_headers: true
      param_aliases:
        api_app_id: app_id
      response_type: DeleteAPIAppsResp
      response_cast: DeleteAPIAppsResp
    - path: /v1/api_apps
      method: post
      order: 40
      sdk_methods:
        - api_apps.list
      http_method_override: get
      disable_request_body: true
      use_kwargs_headers: true
      query_fields:
        - name: app_type
          type: AppType
          required: false
        - name: page_token
          type: str
          required: true
          default: '""'
        - name: page_size
          type: int
          required: true
          default: "20"
      pagination: token
      pagination_data_class: _PrivateListAPIAppsData
      pagination_item_type: APIApp
    - path: /v1/apps
      method: get
      order: 50
      sdk_methods:
        - apps.list
      use_kwargs_headers: true
      query_fields:
        - name: workspace_id
          type: str
          required: true
        - name: publish_status
          type: str
          required: false
        - name: connector_id
          type: str
          required: false
        - name: page_index
          type: int
          required: true
          default: "1"
        - name: page_size
          type: int
          required: true
          default: "20"
      param_aliases:
        page_index: page_num
      pagination: number
      pagination_data_class: _PrivateListAppsData
      pagination_item_type: SimpleApp
      pagination_items_field: items
      pagination_total_field: total
      pagination_page_num_field: page_index
      pagination_page_size_field: page_size
    - path: /v1/folders/{folder_id}
      method: get
      order: 60
      sdk_methods:
        - folders.retrieve
      use_kwargs_headers: true
      response_type: SimpleFolder
      response_cast: SimpleFolder
    - path: /v1/folders
      method: get
      order: 70
      sdk_methods:
        - folders.list
      use_kwargs_headers: true
      query_fields:
        - name: workspace_id
          type: str
          required: true
        - name: folder_type
          type: FolderType
          required: true
        - name: parent_folder_id
          type: str
          required: false
        - name: page_num
          type: int
          required: true
          default: "1"
        - name: page_size
          type: int
          required: true
          default: "20"
      pagination: number
      pagination_data_class: _PrivateListFoldersData
      pagination_item_type: SimpleFolder
      pagination_items_field: items
      pagination_total_field: total_count
      pagination_page_num_field: page_num
      pagination_page_size_field: page_size
    - path: /v1/workflows/chat
      method: post
      sdk_methods:
        - workflows.chat.create
        - workflows.chat.stream
    - path: /v1/workflow/run
      method: post
      sdk_methods:
        - workflows.runs.create
    - path: /v1/workflow/stream_run
      method: post
      sdk_methods:
        - workflows.runs.stream
    - path: /v1/templates/{template_id}/duplicate
      method: post
      sdk_methods:
        - templates.duplicate
      allow_missing_in_swagger: true
    - path: /v1/users/me
      method: get
      sdk_methods:
        - users.me
      allow_missing_in_swagger: true
  ignore_operations:
    - path: /v1/apps/{app_id}/collaborators
      method: post
    - path: /v1/apps/{app_id}/collaborators/{user_id}
      method: delete
    - path: /v1/audio/rooms
      method: post
    - path: /v1/audio/speech
      method: post
    - path: /v1/audio/transcriptions
      method: post
    - path: /v1/audio/voices
      method: get
    - path: /v1/audio/voices/clone
      method: post
    - path: /v1/connectors/{connector_id}/install
      method: post
    - path: /v1/connectors/{connector_id}/user_configs
      method: post
    - path: /v1/enterprises/{enterprise_id}/members
      method: post
    - path: /v1/enterprises/{enterprise_id}/members/{user_id}
      method: put
    - path: /v1/enterprises/{enterprise_id}/organizations
      method: post
    - path: /v1/api_apps/{api_app_id}/events
      method: post
    - path: /v1/commerce/benefit/benefits/get
      method: get
    - path: /v1/commerce/benefit/bill_tasks
      method: get
    - path: /v1/commerce/benefit/limitations
      method: post
  field_aliases:
    chat:
      custom_variables: custom_variables
      user_id: user_id
    workflows:
      workflow_id: workflow_id
      app_id: app_id
